

h1 {
    color:#4aaaa5;
    margin: 20px;
}

.navbar-brand {
    color:#4aaaa5;
}

.container {
    margin-top: 20px;
    width: 760px
}

img {
    width: 300px;
    height: auto;
}